
.cart-item-img{
  max-height: 120px;
}

a{
  text-decoration: none;
  color: black;
}

.navLink{
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  color: rgb(32, 36, 39);
  margin: 0 0.5rem;
  transition:  0.7s ease-in-out;
}

.navLink:hover{
  background-color: rgb(46, 50, 54);
  color: aliceblue;
}